<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/img/core-img/favicon.ico">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

   
        @RenderBody()

  

    <script src="~/Content/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/Content/js/bootstrap/popper.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/js/plugins/plugins.js"></script>
    <script src="~/Content/js/active.js"></script>
</body>
</html>
